{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

        <div class="container p-5 d-flex justify-content-evenly">
            <div class="card m-3 p-4" style="width: 75%; border-radius: 10px">
                <div class="container d-flex justify-content-center">
                    <h1>Register as a patient</h1>
                </div>
              <form>
                  <div class="row mb-3">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email : </label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password : </label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password : </label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="confirmPassword">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>

{% endblock %}