#bg {
    background: url("../images/bg.png") no-repeat;
    background-size: cover;
}

#welcome-text {
    font-size: 5rem;
}

.text-center {
    text-align: center;
}

.feat {
    background-color: rgb(88, 180, 3);
    border-radius: 10px;
    color: white;
}
